@font-face {
    font-family: 'pcv';
    src:    url('fonts/pcv.eot?1fc3t');
    src:    url('fonts/pcv.eot?1fc3t#iefix') format('embedded-opentype'),
        url('fonts/pcv.ttf?1fc3t') format('truetype'),
        url('fonts/pcv.woff?1fc3t') format('woff'),
        url('fonts/pcv.svg?1fc3t#pcv') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pcv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-study:before {
    content: "\e900";
}
.icon-mail:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-eye:before {
    content: "\e906";
}
.icon-facebook:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-github:before {
    content: "\e905";
}
