@import "./normalize"
@import "./reset"
@import "./fonts"

//Variables
$colorGray95 = #4A4A49
$colorBackgroundSecundary = #F6F6F6
$titleColor = #4A4A49
$bodyColor = #706F6F
$borderDivsionColor = #E3E4E8

//Clases Utilitarias
.u-paddingLaterals
  padding 0 1em
