section.CoverLetter.u-paddingLaterals
  div.User--coverLetter
    figure.User-imageContainer--coverLetter
      img.User-image--coverLetter(src="img/avatar.png", alt="User.image" width="150")
    h2.User-name--coverLetter Guillermo Lopez
    p.User-description I am Guillermo Lopez, I'm Fullstack Javascript Developer, I Use NodeJS for Backend Plataform, Javascript is my favorite Programing Lenguage. So I use current kits for <strong>Frontend</strong> Develoment such as <strong>Jade, Stylus, Browserify, PageJS, ReactJS, Redux, Babel, etc</strong> previously used Frameworks such as AngularJS, Currently use small libreries for each specific action. For <strong>Backend</strong> use <strong>MongoDB</strong> as Data Base and others Libraries such as <strong>Express, SocketIO</strong>, etc.
