.Projects
  padding 1em 1em 2em 1em
  &-list
    display flex
    justify-content space-around
    flex-flow: row wrap
  &-title
    color $colorGray95
    margin-bottom .5em
  &-moreContainer
    text-align center
    padding 1em
    background $colorGray95
    border-radius 5px
    color white
  &-button
    margin-left .5em
    text-decoration none
    color white
.Project
  position relative
  overflow hidden
  height 220px
  color white
  border-bottom 1px solid silver
  width 300px

  &-bottom
    padding 1em
    transition all .2s ease
    transform translateY(-40px)
    &.is-active
      transform translateY(-150px)

  &-imageContainer
    height 200px
    background url("img/background.jpg")
    background-size cover
