section.Projects
  h2.Projects-title Projects
  div.Projects-listContainer
    ul.Projects-list
      each project in [1,2,3,4,5,6]
        li.Project
          a.Project-link(href="#")
            div.Project-bottom
              h4.Project-title Primer Proyecto
              p.Project-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vitae minus voluptatibus, sapiente cum vel quibusdam officiis repudiandae libero eligendi! Officia et ipsam ipsum amet fuga provident voluptatum soluta, blanditiis.
  div.Projects-moreContainer
    a.Projects-button(href="#") See more on GitHub
