section.Projects.u-paddingLaterals
  h2.Projects-title Projects
  div.Projects-listContainer
    ul.Projects-list
  div.Projects-moreContainer
    span.Projects-icon.icon-github
    a.Projects-button(href="www.github.com/glopezep") See more on GitHub
