section.Projects.u-paddingLaterals
  h2.Projects-title Projects
  div.Projects-listContainer
    ul.Projects-list
      each project in [1,2,3,4,5,6]
        li.Project
          div.Project-imageContainer
          div.Project-bottom
            h4.Project-title Primer Proyecto
            p.Project-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vitae minus voluptatibus, sapiente cum vel.
  div.Projects-moreContainer
    span.Projects-icon.icon-github
    a.Projects-button(href="#") See more on GitHub
