section.Educations
  h2.Educations-title Educations
  ul.Educations-list
    each education in [1,2,3,4,5]
      li.Education
        a.Education-link(href="#")
          div.Education-left
            span.Education-icon icon
          div.Education-right
            h3.Education-title Estudios Generales
            span.Education-location localidad
