section.Educations.u-paddingLaterals
  h2.Educations-title Educations
  ul.Educations-list
    each education in [1,2,3,4,5]
      li.Education
        div.Education-left
          span.Education-icon.icon-study
        div.Education-right
          h4.Education-title Estudios Generales
          span.Education-location localidad
          
