.Educations
  padding 1em
  color $titleColor

  &-title
    margin-bottom .5em
  &-list
    list-style none

.Education
  display flex
  background $colorBackgroundSecundary
  border-bottom 4px solid $colorGray95
  margin-bottom 1em
  justify-content flex-start
  align-items center
  color $titleColor

  &-title
    margin-bottom .3em

  &-description
    color $bodyColor

  &-left
    height 100%
    font-size 3em
    padding .3em .5em
    border-right 1px solid $borderDivsionColor
    margin-right .5em
