.Skills
  background $colorBackgroundSecundary
  padding 1em
  color $titleColor

  &-title
    margin-bottom .5em

.Skill
  display flex
  justify-content space-between
  padding 1em
  background white
  margin-bottom 1em
  border-bottom 4px solid transparent

  &-label
    text-transform uppercase

  &-value
    border-left 1px solid $borderDivsionColor
    height 100%
    padding 1em 0 1em 1em


@media screen and (min-width: 650px)
  .Skills
    &-list
      display flex
      justify-content space-around
      flex-flow: row wrap
  .Skill
    min-width: 45%

@media screen and (min-width: 800px)
  .Skill
    min-width: 30%
