section.Skills
  h2.Skills-title Skills
  ul.Skills-list
    each skill in [1,2,3,4,5]  
      li.Skill
        div.Skill-left
          span.Skill-label HTML5
        div.Skill-right
          span.Skill-value 100%
