.Nav
  background $colorGray95
  color white
  display inline-block
  position absolute
  transition all .3s ease
  transform translateX(-300px)
  &.is-open
    transform translateX(0)

  &-item
    border-bottom 1px solid gray
  &-list
    list-style none
  &-link
    color white
    text-decoration none
    padding 1em 100px 1em 1em
    display inline-block
