nav.Nav(id="Nav")
  ul.Nav-list.u-paddingLaterals
    li.Nav-item
      span.icon-facebook
      a.Nav-link(href="#") Facebook
    li.Nav-item
      span.icon-twitter
      a.Nav-link(href="#") Twitter
    li.Nav-item
      span.icon-github
      a.Nav-link(href="#") GitHub
    li.Nav-item
      span.icon-mail
      a.Nav-link(href="#") Correo
