doctype html
html
  head
    title "Pcv - Portafolios Modernos"
    link(rel="stylesheet", href="index.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
  body
    //App container Component
    section.App-container
      include header/index.jade
      include nav/index.jade
      include landing/index.jade
      include cover-letter/index.jade
      include educations/index.jade
      include skills/index.jade
      include projects/index.jade
      include experiences/index.jade
      include footer/index.jade
    script(src="index.js")
      
