@import "nib"
@import "util/utils"
@import "header/index"
@import "user/index"
@import "nav/index"
@import "landing/index"
@import "cover-letter/index"
@import "stats/index"
@import "educations/index"
@import "skills/index"
@import "projects/index"
@import "experiences/index"
@import "footer/index"


body
  font-size 16px
  overflow-x hidden
